@import "tailwindcss";

/* Ocultar barra de desplazamiento manteniendo el scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer y Edge */
  scrollbar-width: none;  /* Firefox */
}